:root {
  --color-primary: #ffbb00;
  --color-secondary: #ffd000;
  --color-white: #fff;
  --color-black: #000
}

html,
body {
  font-family: 'lexend';
  margin: 0;
  overflow-x: hidden !important;
}

a {
  color: var(--color-black);
  text-decoration: none;
  align-items: center;
}

a:hover {
  opacity: 0.7;
}

h1 {
  color: var(--color-primary);
  font-size: 48px;
  text-align: center;
  margin: 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-primary);
  height: 4.6875rem;
  padding: 1rem;
}

.menu {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.menu a {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
}

.menu a:hover {
  background: var(--royal-blue-dark);
}

.btn-menu {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo img {
  border-radius: 50%;
}

.banner {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  margin: 0;
  font-weight: 600;
  font-size: 38px;
  color: var(--color-black);
}

.banner h4 {
  margin: 0;
  font-weight: 100;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.banner-img {
  max-width: 450px;
}

.banner .btn-contact {
  background-color: var(--color-primary);
  color: black;
  width: 100px;
  padding: 20px 35px;
  text-align: center;
  border-radius: 15px;
  display: block;
}

.mediaSocial {
  width: 50px;
  background-color: var(--color-white);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: 250px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  z-index: 1;
}

.iconMedia {
  margin: 5px;
  width: 35px;

}

.scroll {
  position: absolute;
  bottom: 10px;
  width: 100px;
}

#about {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: auto;
  margin-bottom: 150px;
  width: 60%;
}

#about p {
  font-size: 24px;
  font-weight: 400;
}

#projects {
  padding: 30px;
  margin: auto;
  margin-bottom: 150px;
  width: 60%;
}

#contact {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

#contact h1 {
  color: var(--color-black);
}

.contact-content {
  margin: 0 100px 0 100px ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.btn-whats {
  display: flex;
  padding: 15px;
  background: green;
  border-radius: 10px;
  color: var(--color-white);
  align-items: center;
  justify-content: center;
  gap: 10px;
}

footer {
  bottom: 0;
  text-align: center;
  padding: 15px;
  background-color: var(--color-white);
}

.project {
  display: flex;
  gap: 20px;
}

.project img{
  width: 50%;
}

.project a {
  background-color: var(--color-primary);
  padding: 10px 25px;
  color: var(--color-black);
  border-radius: 10px;
  position: absolute;
  margin: 15px 25px;
}

.skills {
  background: var(--color-black);
  width: 80%;
  display: flex;
  margin: auto;
  border-radius: 20px;
  flex-direction: column;
}

.skills div{
  margin: 15px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.skills span{
  color: var(--color-white);
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 15px;
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .menu {
    display: block;
    position: absolute;
    top: 4.6875rem;
    left: 0;
    background: var(--color-primary);
    text-align: center;
    width: 100vw;
    height: 0;
    z-index: 2;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding: 0;
  }
  .menu a {
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
    border-radius: 0;
  }
  .btn-menu {
    background: none;
    border: none;
    font: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white);
    padding: 1rem 0;
    cursor: pointer;
  }
  .hamburger {
    border-top: 0.125rem solid;
    width: 1.25rem;
  }
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background: currentColor;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
  }
  .nav.active .menu {
    height: calc(100vh - 4.6875rem);
    visibility: visible;
    overflow-y: auto;
  }
  .nav.active .hamburger {
    border-top-color: transparent;
  }
  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }
  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -0.4375rem;
  }
  .banner {
    flex-direction: column;
    align-items: center;
  }

  .contact-content {
    flex-direction: column;
  }

  .mediaSocial {
    transform: translateY(250px);
  }

  .project {
    flex-direction: column;
  }

  .project img{
    width: 90%;
  }

  #projects {
    width: 80%;
  }

  #about {
    width: 80%;
  }

  .scroll {
    width: 100px;
  }
}
