:root {
  --color-primary: #ffbb00;
  --color-secondary: #ffd000;
  --color-white: #fff;
  --color-black: #000
}

html,
body {
  font-family: 'lexend';
  height: 100vh;
  margin: 0;
}

a {
  color: var(--color-black);
  text-decoration: none;
  align-items: center;
}

a:hover {
  opacity: 0.7;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-primary);
  top: 0;
  height: 10vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: var(--color-black);
  margin: 8px;
  transition: 0.3s;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo img {
  border-radius: 50%;
}

.banner {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.banner h1 {
  margin: 0;
  font-weight: 600;
  font-size: 38px;
}

.banner h4 {
  margin: 0;
  font-weight: 100;
}

.banner-content {
  margin: 0 50px 50px 0;
}

.banner .btn-contact {
  background-color: var(--color-primary);
  color: black;
  width: 100px;
  padding: 20px 35px;
  margin: 25px 0 0 50px;
  text-align: center;
  border-radius: 15px;
  display: block;
}

.banner #contact:hover {
  background-color: var(--color-secondary);
}

.mediaSocial {
  width: 50px;
  background-color: var(--color-white);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: 250px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.iconMedia {
  margin: 5px;
  width: 35px;
  opacity: 0.5;
}

.iconMedia:hover {
  opacity: 1;
}

.scroll {
  position: absolute;
  margin: auto;
  bottom: 40px;
}

#about {
  width: 48%;
  margin: auto;
  margin-bottom: 150px;
}

#about h1 {
  color: var(--color-primary);
  font-size: 48px;
  text-align: center;
}

#about p {
  font-size: 24px;
  font-weight: 400;
}

#projects {
  width: 48%;
  margin: auto;
  margin-bottom: 150px;
}

#projects h1 {
  color: var(--color-primary);
  font-size: 48px;
  text-align: center;
}

#contact {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

#contact h1 {
  color: var(--color-black);
  font-size: 48px;
  text-align: center;
}

.contact-content {
  margin: 0 100px 0 100px ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.btn-whats {
  display: flex;
  padding: 15px;
  background: green;
  border-radius: 10px;
  color: var(--color-white);
  align-items: center;
  justify-content: center;
  gap: 10px;
}

footer {
  bottom: 0;
  text-align: center;
  padding: 15px;
  background-color: var(--color-white);
}

.project {
  display: flex;
  gap: 20px;
}

.project img{
  width: 50%;
}

.project a {
  background-color: var(--color-primary);
  padding: 10px 25px;
  color: var(--color-black);
  border-radius: 10px;
  position: absolute;
  margin: 15px 25px;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: var(--color-primary);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 1;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

  .banner {
    flex-direction: column;
    align-items: center;
  }

  .mediaSocial {
    transform: translateY(250px);
  }

  /*.banner-img {
    display: none;
  }*/

  .project {
    flex-direction: column;
  }

  .project img{
    width: 100%;
  }
}

.nav-list.active {
  transform: translateX(0);
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

